@import "bootstrap/dist/css/bootstrap.css";

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Large */
@media (min-width: 1921px) {
  html {
    font-size: 28px;
  }
}
/* Desktop */
@media (max-width: 1920px) {
  html {
    font-size: 24px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 18px;
  }
}

/* Mobile */
/* @media (max-width: 320px) { */
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}
